.index_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.art_service-card-image{
  height: 150px;
  border-radius: 4px;
}

.card-content-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 0;
  }

  + p {
    font-size: 10px;
  }
}

.general-container{
  margin: 0 auto;
  width: 80%;
}
