// back-button

#back {
  margin-top: 0.5em;
  margin-bottom: 2em;

  a {
    color:black;
    font-size: 0.9em;
  }

  a:hover {
    color:blue;
  }
}

// icons on top of page

.service-show-top-info {
  list-style-type: none; // removes default bullets
  width: 100%;
  margin-bottom: 2em;
  padding: 0;

  li {
    float: left; // makes the list items horizontal to each other
    margin-right: 16px;
    font-size: 0.8em;
  }
}

.li-item {
  display: flex;
  align-content: flex-end;

  i {
    margin-right: 0.6em;
    margin-top: 0.2em;
    padding: 0;
  }

  .fa-star {
    color: rgb(236, 201, 0);
  }
}

// gallery with user uploaded pictures

// .gallery-box {
//   // position: relative;
//   height: 350px;
//   width: 100%;
// }

.service-gallery {
  float: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  overflow: hidden;
  height: 400px;
  align-items: center;
}

.gallery-item {
  width: 48%;

  img {
    width: 100%;
  }
}

// info section

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 380px;
  height: 100%;
  width: 100%;
  padding-left:0;
  padding-right:0;
  margin-bottom: 1.3em;
}

.info-item {
  padding: 0px;
}

.description {
  p {
    font-size: 0.9em;
    margin-right: 2em;
  }
}

.booking-box {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5em;
  font-size: 0.9em;

  .booking-form {
    border: 1px solid #ced4da;
    background-color: white;
  }
  .form-control {
    font-size: 0.7em;
  }
  p {
    text-align:right;
    margin-right: 0.3em;
  }

  a {
    margin-top: 0.2em;
  }
}

// map size

#map {
  height: 300px;
  width:100%;
  margin-bottom: 3em;
}

// about section (info-box is atm used by both the about-, and the info-section

.about-box {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.about {
  width: 100%;
  margin-bottom: 2em;
  p {
    font-size: 0.9em;
    margin-bottom: 2em;
  }
}


// reviews

#list-group {
  margin-bottom: 2em;
  padding: 0;
  a {
     margin-bottom: 2em;
  }
}

#list-group-item {
  list-style-type: none;
}

.card-review {
  display:flex;
  flex-direction: column;
  width: 800px;
  height: 100%;
  margin-top: 1.5em;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(218, 218, 218);
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  p {
    margin: 1em;
    color: black;
    font-size: 0.9em;
  }
}

.item {
  display:flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-left: 1em;

  .delete-button {
    margin-top: -0.2em;
    padding-right: 1em;
    font-size: 0.8em;
  }

  .stars {
    display: flex;

    i {
      color: rgb(236, 201, 0);
      text-shadow: 0 0 4px rgba(0,0,0,0.1);
    }

    p {
      flex-direction: row-reverse;
      margin-right: 16px;
      font-size: 0.8em;
      margin-top: 0;
      margin-left: 1em;
    }
  }
}
