#home { // ensuring that styles are only applying to homepage
  // Homepage's Banner Styling
  .banner {
    height: 500px;
    margin-top: 0;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    background-image: url('https://images.unsplash.com/photo-1611142287927-64cede3148da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80');

    h3 {
      color: white;
      padding-top: 20px;
    }

    h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      font-size: 32px;
      font-weight: bold;
    }

    p {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
  }
<<<<<<< HEAD
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}
=======

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
>>>>>>> master

  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }

  .text-left {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  // Button's styling.
  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #1BCB7F;
    color: white;
  }

  // Boxes styling.
  .call-to-action-box {
      display: flex;
      height: 250px;
      justify-content: space-between;
      background-color: bisque;

  }

  .box-item {
    img {
      width: 400px;
      height: 100%;
    }
    .text-field {
      width: 300px;
      padding: 16px;
    }

    .btn {
      margin-left: 16px;
    }
  }
}
