.info {
  margin-top: 380px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding-left:0;
  padding-right:0;
  margin-bottom: 1.3em;
}

.info-item {
  padding: 0px;
}

.description {
  border: solid 1px rgb(211, 211, 211);
  height: 75%;
  p {
    padding: 4px;
    font-size: 0.9em;
  }
}

.booking-box {
  display:flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  // a {
  //   flex-grow: 0;
  //   text-align: center;
  //   padding: 8px 24px 8px 24px;
  //   color:white;
  // }
}
