.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.notification {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 5px;
  z-index: 2;
  .notice, .alert {
    display: inline-block;
    padding: 0.5rem;
  }
}
