.gallery-box {
  position: relative;
}

.service-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:8px;
  height: 350px;
  position: absolute;
}

.gallery-item {
  width: 261px;
  background-size: cover;
}
