<div class="container">
  <div class="form">
    <%= simple_form_for [ @art_service, @review ] do |f| %>
      <%= f.input :rating, input_html: { min: '0', max: '5' } %>
      <%= f.input :comment %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
